@using Dar_e_Arqam_pwd_isb.Models;
@model AllClasses
@{
    ViewBag.Title = "Trash";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/contents/js/jquery-1.10.2.js"></script>
<script src="~/contents/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="~/contents/js/script_1.js"></script>
<link href="~/contents/css/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
<link href="~/contents/css/style.css" rel="stylesheet" />

<script type="text/javascript">
      $(document).ready(function () {
          if ('@TempData["msg"]' != "") {
              $("#dialog-msg").dialog('open');
           }
      });
</script>
<div class="body_right_top_area">
<div class="p_page_head">
<div class="p_page_head_top"><p> > Events</p></div>
<div class="p_page_head_left"><h2 class="events">Events</h2></div>
<div class="p_page_head_right">
<div class="p_page_head_right_search">
@using (Html.BeginForm("trash", "events", FormMethod.Get))
{
<div class="p_page_head_right_search_input"> @Html.TextBoxFor(m => m.Search_key, new { placeholder="Type anything to search the events in trash .... " }) </div>
<div class="p_page_head_right_search_btn"> <input type="submit" name="submit" value="Search" /> </div>
<div class="clear"></div>    
}
</div>
</div>
<div class="clear"></div>
</div>

<!--Create-->
<div id="dialog-add-form"></div>

<!--Success Message-->
<div id="dialog-msg" style="display: none">
    <p class="db_msg">
        @TempData["msg"]!
    </p>
</div>

<!--Error-->
 <div id="dialog-error" style="display: none">
    <p class="db_msg">
        Something Wrong With Your Internet Connection , Please Check Your Internet Connetion Settings !
    </p>
</div>
</div>

<div class="body_right_bot_area">

<div class="p_page_head_bot_links">
<a href="" id="AddNewEvent" class="add_new_item">Add New Event</a>
<a href="/events/active">All Active Events </a>
<a href="/events/gallery">Events Gallery</a>
<a href="/events/trash">Trash</a>
<div class="clear"></div>
</div>
<h3 class="page_main_headings">Trash </h3>
@if(Model != null) {
foreach (var driv in Model.Event_s) { 
@*<!-- Wiget Start--->*@
    <div class="events_main_div">
        <div class="events_main_div_inner">
        <div class="events_main_div_img"><img src="~/Event/@driv.Picture" /></div>
        <div class="events_main_div_tit_dtl_links">
        <div class="events_main_div_tit"><h3>@driv.Name</h3></div>
        <div class="events_main_div_dtl"><p>@driv.Detail</p></div>
        </div>
        <div class="clear"></div>
        <div class="events_main_div_inner_opt">
        <div class="events_main_div_inner_opt_dlt"><a href="">Delete</a></div>
        <div class="events_main_div_inner_opt_edit"><a href="/events/edit/@driv.Id" class="UpdateExistingEvent">Edit</a></div>
        <div class="events_main_div_inner_opt_dtl"><a href="">View More </a></div>
        <div class="clear"></div>
        </div>
        </div>    
    </div>
@*<!-- Wiget End--->*@
                }
}
else {
    @ViewBag.StatusMessage
}
</div>
